.card {
  background-color: white;
  color: #2f2f2f;
  margin: 0 1rem 0 1rem;
  height: 30rem;
  border-radius: 12px;
  box-shadow: 1px 2px #d7d9db;
  border: 1px solid #f2f2f2;
  display: inline-block;
}
.book-image{
    position: relative;
    top: 5%;
    left: 5%;
    width: 40%;
    height: 90%;
    float: left;
}
.book-details{
    font-size: 20px;
    position: relative;
    top: 5%;
    right: 5%;
    width: 45%;
    height: 90%;
    float: right;
}
.book-details .details{
    padding: 0 30px 0 30px;
    text-align: left;
}
.card img{
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
}
.cards {
    position: relative;
    top: 25px;
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
@media (min-width: 768px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}
.rent-button{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #ff5001;
    color: #ffffff;
    width: 40%;
    height: 10%;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
}